
.App {
    text-align: center;
    display: flex;
    min-width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  
.cardElement {
    display: flex;
    flex-direction: column;
  }
  
  .spacer1 {
    height: 10x;
    min-height: 10px;
  }
  
  .widgetContainer {
    width: 434px;
    min-height: 100vh;
  }
  
  .widgetBody {
    flex-grow: 1;
  }
  
  .fabIcons {
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .spacer1 {
    min-height: 10px;
  }
  
  .spacerh {
    min-width: 10px;
  }
  
  .widgetControls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .widgetWelcomeHolder {
    background-color: white;
    
    
  }
  
  .widgetBg {
    position: relative;
    z-index: 30;
  }
  
  .bgImage {
   
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
  }
  
  .welcomeWidgetContent {
    display: flex;
    flex-direction: column;
    z-index: 500;
    background-color: white;
    justify-content: stretch;   
    align-items: stretch;
  }
  
  .hholder {
    display: flex;
    flex-direction: row;
  }
  
  .vholder {
    display: flex;
    flex-direction: column;
  }
  
  .whiteText {
    color: white;
  }
  
  .whitebg {
    background-color: white;
  }
  .elevatedText {
    z-index: 500;
  }
  
  .topLabel {
    flex-grow: 1;
  }
  
  .pointedCursor {
    cursor: pointer;
  }
  
  .alignedText {
    text-align: left;
    padding: 10px;
  }
  
  .HomeWidgetBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }
  
  .LogoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .LogoBox img {
    padding: 18px;
  }
  
  .headerTextBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  
  .selectionBox {
    display: flex;
    flex-direction: column;
  }
  
  .connectButtonBox {
    margin-top: '10px'
  }
  
  .widgetWelcomeHolder {
    background-color: white;
    
    
  }
  
  .widgetBg {
    position: relative;
    z-index: 30;
  }
  
  .bgImage {
   
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
  }
  
  .welcomeWidgetContent {
    display: flex;
    flex-direction: column;
    z-index: 500;
    background-color: white;
    padding: 10px;
    align-items: flex-start;
    justify-content: start;
  }
  
  .spacerv {
    height: 20px;
  }
  
  .contentItems {
    z-index: 500;
    text-align: left;
  }
  
  .headerTexts {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .whiteText {
    color: white;
  }
  
  .higherIndex {
    z-index: 500;
  }
  
  .conversationItem {
    align-self: stretch;
  }
  
  .spacerV {
    min-height: 10px;
  }
  
  .spacerh {
    width: 10px;
  }
  
  .CardContent {
    text-align: left;
  }
  
  .actionDiv {
    display: flex;
    flex-direction: row;
  }
  
  .signInHolder {
    display: flex;
    flex-direction: column;
  }
  
  .signInHolder h5 {
    margin: 10px;
    cursor: pointer;
  }
  
  .boldText {
    font-weight: 900;
  }
  
  .holderh {
    display: flex;
    flex-direction: row;
  }
  
  .linkText {
    padding-top: 10px;
    padding-bottom: 10px;
  }